/web/frontend/node_modules
/web/public/hot
/web/public/storage
/web/storage/*.key
/web/storage/db.sqlite
/web/vendor
.env
web/.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock

**/node_modules

.idea
.vscode
